.header {
  color: red;
  text-align: center;
}
.button {
  background-color: greenyellow;
  color: black;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  width: 100px;
}
.flag{
    text-align: center;
}